<div class="main" #main>
  <div class="header">
    <div class="logo" #logo>
      <h2>Logo</h2>
    </div>
    <ul class="menu" #menu>
      <li class="menu_item"><a class="menu_link active">Menu 1</a></li>
      <li class="menu_item"><a class="menu_link">Menu 2</a></li>
      <li class="menu_item"><a class="menu_link">Menu 3</a></li>
      <li class="menu_item"><a class="menu_link">Menu 4</a></li>
      <li class="menu_item"><a class="menu_link">Menu 5</a></li>
    </ul>
    <div class="search" #search>
      <button class="search-icon">
        <svg class="icon icon-search">
          <use href="./assets/icons.svg#icon-magnifying-glass"></use>
        </svg>
      </button>
      <button class="call">Get In Touch</button>
    </div>
  </div>
  <div class="questionnaire">
    <div class="question" #questionContainer>
      <h2 class="question_heading">Question {{ currentQuestionIndex + 1 }}</h2>
      <div class="question_q">{{ question?.questionText }}</div>
      <div class="question_answers" #answer>
        <div class="answer" *ngFor="let answer of question.options" #answerr (click)="onSelect(answerr)">
          <p>{{ answer?.text }}</p>
        </div>
      </div>
    </div>
    <div class="actions" #actions>
      <button class="previous" (click)="prev()">
        <svg class="icon icon_back">
          <use href="./assets/icons.svg#icon-chevron-left"></use>
        </svg>
      </button>
      <button class="next" (click)="goToNext()">Next</button>
    </div>
    <div class="progress_bar">
      <div #slider class="progress_bar_slider"></div>
    </div>
    <div class="progress_actions" #progress>
      <div class="p_actions_left">
        <span>Step {{ currentQuestionIndex + 1 }}</span>
        <span>Out Of</span>
        <span>{{ questions.length }}</span>
      </div>
      <div class="p_actions_right">
        <span>{{ progressValue }}%</span>
      </div>
    </div>
  </div>
</div>
